#video{
height: 500px;
    width: 1000px
        
}
.menu{
font-variant: fantasy; 
    display: inline;
    list-style: none;
    background-color: aqua;
}

.links{
 display: inline;
    margin-left: 10px;
    margin-right: 10px;
}
